<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 cursor-pointer" routerLink="/tests">
            <img class="d-inline-block align-text-bottom brand" alt="revature-logo"
                src="assets/REVATURE-PrimaryLogo-FullClr.svg">
            Interview Clinic
        </span>
        <form class="form-inline">
            <button class="btn btn-outline-revature-primary" *ngIf="auth.isAuthenticated()"
                (click)="logout()">Logout</button>
        </form>
    </div>
</nav>