.login-form {
    max-width: 300pt;
    margin-top: 25vh;
}
.login-component {
    display: flex;
    justify-content: center;
}

.login-btn {
        width: 100%;
        margin-top: 15px;
}

.btn-revature-primary {
    background-color: #ff7014;
    color: #33383f;
    font-weight: 400;
}

.btn-revature-primary:hover {
    background-color: #ffcf00;
}