.card.card-hover:hover {
    border: 3pt solid var(--revature-orange);
}

.card-active {
    border-width: 3pt;
    border-color: var(--revature-orange);
}

.look-disabled {
    background-color: #eee;
}

.cursor-notallowed {
    cursor: not-allowed
}