<div class="container">
    <app-loading *ngIf="loading; else testReportData"></app-loading>

    <ng-template #testReportData>
        <h2>{{test?.testName}}</h2>
        <table class="table table-hover mt-3">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </thead>
            <tbody *ngIf="testAttempts && testAttempts.length > 0; else noReports">
                <tr *ngFor="let attemptee of testAttemptees | keyvalue">
                    <td>{{attemptee.value}}</td>
                    <td>{{attemptee.key}}</td>
                    <td><button class="btn btn-revature-primary" [routerLink]="'report/' + attemptee.key"><img
                                class="table-icon" src="assets/arrow-right-to-bracket.svg" alt="" srcset=""></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #noReports>
        No submitted reports...
    </ng-template>
</div>