<div class="container">
    <app-loading *ngIf="loading; else testReportData"></app-loading>
    
    <ng-template #testReportData>
        <h2>{{test?.testName}}</h2>
        <table class="table table-hover mt-3">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Score</th>
                <th>Actions</th>
            </thead>
            <tbody *ngIf="testAttempts && testAttempts.length > 0; else noReports">
                <tr *ngFor="let attempt of testAttempts">
                    <td>{{attempt.name}}</td>
                    <td>{{attempt.email}}</td>
                    <td>{{attempt.score}}</td>
                    <td><button class="btn btn-revature-primary" [routerLink]="'report/' + attempt.testInvitationId"><img class="table-icon" src="assets/arrow-right-to-bracket.svg" alt="" srcset=""></button></td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #noReports>
        No submitted reports...
    </ng-template>
</div>