.card.card-hover:hover {
    border: 3pt solid var(--revature-orange);
}

.card-active {
    border-width: 3pt;
    border-color: var(--revature-orange);
}

.look-disabled {
    background-color: #eee;
}

.cursor-notallowed {
    cursor: not-allowed
}

.card-answer-body {
    max-height: 150pt;
    overflow-y: scroll;
}

.header {
    font-weight: bolder;
    font-size: large;
}

.vid-player {
    width: 100%;
}

pre {
    white-space: pre-wrap;
}

.score-input {
    width: inherit;
    display: inline;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.score-input::-webkit-inner-spin-button, 
.score-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}