<div class="container col-lg-9">
    <!-- <label for="itemsPerPage">Items per page:</label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="getTests()">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select> -->
    <div class="row">
      <app-loading *ngIf="loading; else testData"></app-loading>
    
      <ng-template #testData>
        <table class="table table-hover">
          <thead>
            <th>
              Test Name
            </th>
            <th>
              Reports
            </th>
          </thead>
          <tbody>
            <tr class="cursor-pointer" *ngFor="let test of tests" (click)="navigateToTestDetail(test.testId)">
              <td>{{test.testName}}</td>
              <td>{{imocha.organizedTestAttempts[test.testId]?.length ?? 0}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
        <!-- <div>
          <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
          <button (click)="onPageChange(currentPage + 1)">Next</button>
        </div> -->
    </div>
</div>