<div class="container col-lg-9">
    <div class="row">
      <app-loading *ngIf="loading; else testData"></app-loading>
    
      <ng-template #testData>
        <table class="table table-hover">
          <thead>
            <th>
              Test Name
            </th>
            <th>
              Reports
            </th>
          </thead>
          <tbody>
            <tr class="cursor-pointer" *ngFor="let test of imocha.tests" (click)="navigateToTestDetail(test.testId)">
              <td>{{test.testName}}</td>
              <td>{{imocha.organizedTestAttempts[test.testId]?.length ?? 0}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
</div>