<div>
    <h2>Test List</h2>
  
    <label for="itemsPerPage">Items per page:</label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="getTests()">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>

    <table class="table-auto">
      <thead>
        <th>
          Name
        </th>
        <th>
          Reports
        </th>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let test of tests" (click)="navigateToTestDetail(test.testId)">
          <td>{{test.testName}}</td>
          <td>{{imocha.organizedTestAttempts[test.testId]?.length ?? 0}}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
      <button (click)="onPageChange(currentPage + 1)">Next</button>
    </div>
</div>