<div class="container carousel">
    <ng-container *ngFor="let question of sampleQuestions; let i = index">
        <app-question-detail [question]="question" *ngIf="i === currentSlide"></app-question-detail>
    </ng-container>

    <!-- controls -->
    <div class="controls">
        <button class="btn btn-outline-revature-primary control prev" (click)="onPreviousClick()">
            < </button>
                <button class="btn btn-outline-revature-primary control next" (click)="onNextClick()"> > </button>
    </div>

</div>